<template>
  <v-container id="person-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="6" md="6">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Categoria</div>
            <div class="subtitle-1 font-weight-light">Cadastro de categoria</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    color="secondary"
                    v-model="category.name"
                    :counter="50"
                    label="Nome *"
                    hint="Informe seu nome"
                    :rules="[categoryController.service.rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn :disabled="!valid || loading" color="info" @click="register">
                  registrar
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import CategoryController from "../../../app/controllers/CategoryController";

export default {
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    categories: [],
    categoryController: new CategoryController(),
    pessoa_fisica: true,
    category: new CategoryController().categoryModel(),
  }),
  methods: {
    voltar() {
      this.$router.go(-1);
    },
    register() {
      this.loading = true;
      this.categoryController.register(this.category).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Categoria cadastrada com sucesso.";
          this.typeAlert = "info";
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao cadastrar a categoria.";
        }
        this.notification = true;
        this.loading = false;
        setTimeout(() => this.$router.replace({ name: "categories" }), 2000);
      });
    },
  },
};
</script>
