<template>
  <v-container id="vehicles" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Categorias</div>

            <div class="subtitle-1 font-weight-light">
              Listagem de categorias das pessoas
            </div>
          </template>
          <br />
          <v-row justify="space-between">
            <v-col cols="1"> </v-col>
            <v-col cols="5">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Pesquisar"
                hide-details
                color="secondary"
              >
              </v-text-field>
            </v-col>
            <v-col cols="2">
              <v-btn color="blue" @click="newCategory">Cadastrar</v-btn>
            </v-col>
          </v-row>

          <v-data-table
            :headers="headers"
            :items="categories"
            :loading="loading"
            loading-text="Carregando..."
            :search="search"
            class="elevation-1"
            :items-per-page="5"
          >
            <template v-slot:[`item.acoes`]="{ item }">
              <v-icon
                size="20"
                class="mr-2"
                color="info"
                title="Clique para EDITAR esse registro"
                @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                size="20"
                color="red"
                title="Clique para EXCLUIR esse registro"
                @click="deleteItem(item)"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </base-material-card>
      </v-col>
    </v-row>

    <v-dialog v-model="dialogDelete" max-width="420px">
      <v-card>
        <v-card-title class="justify-center"
          >Você realmente deseja deletar esse registro?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false">
            Não
          </v-btn>
          <v-btn color="blue darken-1" text @click="deleteItemConfirm()">
            Sim
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>

    <v-dialog v-model="dialog" max-width="400px">
      <v-card>
        <v-card-title>
          <span class="headline">Editar categoria</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="editedItem.name"
                  label="Nome"
                  :rules="[controllerCategory.service.rules.required]"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close"> Cancelar </v-btn>
          <v-btn color="blue darken-1" text @click="update"> Atualizar </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import CategoryController from "../../../app/controllers/CategoryController";

export default {
  data: () => ({
    loading: false,
    dialog: false,
    dialogDelete: false,
    notification: false,
    typeAlert: "success",
    message: "",
    search: "",
    categories: [],
    editedItem: {},
    editedIndex: -1,
    controllerCategory: new CategoryController(),
    headers: [
      {
        text: "Código",
        value: "id",
      },
      {
        text: "Nome",
        value: "name",
      },
      {
        text: "Ações",
        value: "acoes",
        sortable: false,
      },
    ],
  }),
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  created() {
    this.getDataFromApi();
  },
  methods: {
    newCategory() {
      this.$router.push({
        name: "category-form",
      });
    },
    getDataFromApi() {
      this.loading = true;
      this.controllerCategory.getAll().then((response) => {
        if (response.data) {
          this.categories = response.data;
        }
      });
      this.loading = false;
    },

    update() {
      this.close();
      this.loading = true;
      this.controllerCategory.update(this.editedItem).then((response) => {
        if (response.statusCode === 200) {
          this.message = "Categoria atualizada com sucesso.";
          this.typeAlert = "info";
          this.getDataFromApi();
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao atualizar a categoria.";
        }
        this.notification = true;
        this.loading = false;
      });
      if (this.editedIndex > -1) {
        Object.assign(this.categories[this.editedIndex], this.editedItem);
      }
    },

    editItem(item) {
      this.editedIndex = this.categories.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.categories.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.loading = true;
      this.controllerCategory.delete(this.editedItem).then((response) => {
        if (response.statusCode === 200) {
          this.typeAlert = "info";
          this.message = "Categoria removida com sucesso.";
          this.getDataFromApi();
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao remover a catrgoria.";
        }
        this.dialogDelete = false;
        this.notification = true;

        this.loading = false;
      });
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },
};
</script>