<template>
  <v-container id="person-register" fluid tag="section">
    <v-row justify="center">
      <v-col cols="12" md="12">
        <base-material-card>
          <template v-slot:heading>
            <div class="display-2 font-weight-light">Pessoa</div>
            <div class="subtitle-1 font-weight-light">Cadastro de pessoa</div>
          </template>
          <v-form ref="form" v-model="valid">
            <v-container>
              <v-row>
                <v-col cols="12" md="12">
                  <v-text-field
                    color="secondary"
                    v-model="person.name"
                    :counter="100"
                    label="Nome *"
                    hint="Informe seu nome"
                    :rules="[controller.service.rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6" md="6">
                  <v-text-field
                    color="secondary"
                    v-model="person.email"
                    :counter="50"
                    label="E-mail *"
                    hint="Informe seu endereço de e-mail"
                    :rules="[controller.service.rules.emailRules]"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" md="6">
                <v-select
                    v-model="person.category_id"
                    :items="categories"
                    label="Selecione a categoria *"
                    required
                    item-value="id"
                    item-text="name"
                    return-value
                    :rules="[controller.service.rules.required]"
                  />
                </v-col>
              </v-row>
              <v-row justify="space-between">
                <v-btn color="orange" @click="voltar">Cancelar</v-btn>
                <v-progress-circular
                  indeterminate
                  color="secondary"
                  v-if="loading"
                ></v-progress-circular>
                <v-btn :disabled="!valid || loading" color="info" @click="register">
                  registrar
                </v-btn>
              </v-row>
            </v-container>
          </v-form>
        </base-material-card>
      </v-col>
    </v-row>
    <base-material-snackbar
      v-model="notification"
      :type="typeAlert"
      dense
      v-bind="{ top: true, right: true }"
    >
      {{ message }}
    </base-material-snackbar>
  </v-container>
</template>

<script>
import PersonController from "../../../app/controllers/PersonController";
import CategoryController from "../../../app/controllers/CategoryController";

export default {
  data: () => ({
    valid: true,
    loading: false,
    notification: false,
    typeAlert: "success",
    message: "",
    categories: [],
    controller: new PersonController(),
    categoryController: new CategoryController(),
    pessoa_fisica: true,
    person: new PersonController().personModel(),
    category: new CategoryController().categoryModel(),
  }),
  created() {
    this.getCategoriesDataFromApi();
  },
  methods: {
    voltar() {
      this.$router.go(-1);
    },
    register() {
      this.loading = true;
      this.controller.register(this.person).then((response) => {
        if (response.statusCode === 201) {
          this.message = "Pessoa cadastrada com sucesso.";
          this.typeAlert = "info";
        } else {
          this.typeAlert = "error";
          this.message = "Erro ao cadastrar a pessoa.";
        }
        this.notification = true;
        this.loading = false;
        setTimeout(() => this.$router.replace({ name: "persons" }), 2000);
      });
    },
    getCategoriesDataFromApi() {
      this.loading = true;
      this.categoryController.getAllForSelect().then((response) => {
        if (response.data) {
          this.categories = response.data;
        }
      });
      this.loading = false;
    },
  },
};
</script>
